@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');

html{
  --bg: #222222;
  --color: #dee4e7;
  --hbg: #dee4e7;
  --ftr: #dee4e7;
  --ftr-hover: #FF7F7F;
  --menu-hover: #FF7F7F;
  --stroke: #dee4e7;
  scroll-behavior: smooth;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  background-color: var(--bg);
  margin: 0;
  overflow-x: hidden;

  color: var(--color);
}






.wrapper{
	height: 100vh;
	display: grid;
	grid-template-rows: 50px auto 50px;
  text-align: center;

}


.Media h2 {
  color: var(--bg);
text-align: center;
  font-weight: bold;
  font-size: 70px;
  line-height: 1.4;
  overflow: hidden;
  -webkit-text-stroke: 2px var(--stroke);
}

.Media h1 {
  color: var(--bg);
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.4;
  overflow: hidden;
  -webkit-text-stroke: 3px var(--stroke);
}

.Media h1:before {
  content: attr(data-text);
  position: absolute;
  top: 100;
  left: 100;
  width: 0;
  overflow: hidden;
  color: var(--stroke);
  white-space: nowrap;
  transition-duration: 1s;
} 
.Media h1:hover:before{
  width: 100%;
} 

.Media .main1{
	text-align: center;
}
.Media ul{
  list-style: none;
  font-size: 50px;
}




.main1{
	height: 100vh;
}
.Footer{
  padding-top: 5px;
	text-align: center;
}

.Footer > span{
	font-size: 50px;
	padding-right: 10px;
}

.Footer  i {
  color: var(--ftr);
}

.Footer i:hover {
color: var(--ftr-hover);
}


img{
	max-width: 100%;
	height: auto;
  border-radius: 5%;
}



/*Light theme toggle*/


input[type=checkbox]{
  height: 0;
  width: 0;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: grey;
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 100px;
  position: relative;
}

label::after{
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {  
  background-color: green;
}

input:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}


/*Preloader*/

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg);
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}

/* Radial Out */
.hvr-radial-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-radial-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--ftr-hover);
  border-radius: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
/* Grow Shadow */
.hvr-grow-shadow {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.button {
  width: 100px;
  margin: 0 auto;
  color: #fff ;
	text-transform: uppercase;
	text-decoration: none;
	background: #60a3bc;
	padding: 20px;
	border-radius: 50px;
	display: block;
	border: none;
	transition: all 0.4s ease 0s;
}
.hvr-radial-out:hover, .hvr-radial-out:focus, .hvr-radial-out:active {
  color: white;
}
.hvr-radial-out:hover:before, .hvr-radial-out:focus:before, .hvr-radial-out:active:before {
  -webkit-transform: scale(2);
  transform: scale(2);
}


/* CREDIT FOR THE HAMBURGER MENU TO ERIK TERWAN https://codepen.io/erikterwan */
 
#menu h1 {
  color: slateblue;
}

 #menuToggle
 {
   display: block;
   position: relative;
   position: fixed;
   top: 15px;
   left: 10px;
   
   z-index: 1;
   
   -webkit-user-select: none;
   user-select: none;
 }
 
 #menuToggle a
 {
   text-decoration: none;
   color: #dee4e7;
   
   transition: color 0.3s ease;
 }
 
 #menuToggle a:hover
 {
   color: var(--menu-hover);
 }
 #menuToggle .current{
  color: gold;
 }
 
 
 #menuToggle input
 {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;
   
   cursor: pointer;
   
   opacity: 0;
   z-index: 2; 
   
   -webkit-touch-callout: none;
 }
 

 #menuToggle span
 {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   
   background: var(--hbg);
   border-radius: 3px;
   
   z-index: 1;
   
   transform-origin: 4px 0px;
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
               opacity 0.55s ease;
 }
 
 #menuToggle span:first-child
 {
   transform-origin: 0% 0%;
 }
 
 #menuToggle span:nth-last-child(2)
 {
   transform-origin: 0% 100%;
 }

 #menuToggle input:checked ~ span
 {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #d81313;
 }

 #menuToggle input:checked ~ span:nth-last-child(3)
 {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
 }

 #menuToggle input:checked ~ span:nth-last-child(2)
 {
   transform: rotate(-45deg) translate(0, -1px);
 }
 

 #menu
 {
   position: absolute;
   width: 300px;
   margin: -100px 0 0 -50px;
   padding: 50px;
   padding-top: 100px;
   
   background: #2d343d;
   border-radius: 30px;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   
   transform-origin: 0% 0%;
   transform: translate(-100%, 0);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }
 
 #menu li
 {
   padding: 10px 0;
   font-size: 22px;
 }
 #menuToggle input:checked ~ ul
 {
   transform: none;
 }
  li {
    padding: 1rem 0;
  }
  
  .menuLink {
    display: inline;
    font-size: 2rem;
    color: white;
    text-decoration: none;
  }
  
  .menuLink:hover {
    text-decoration: underline;
  }

@media only screen and (max-width: 1050px) {
	
	.Footer > span {
	font-size: 40px;
	padding-right: none;
}


.Media h2 {
  font-size: 50px;
}
  }

  
@media only screen and (max-width: 750px) {
.imgbox{
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: auto;
}
.Media h1:hover:before{
  width: 0;
} 
}